body {
  /* padding-top: 2rem; */
  background-color: #dfdfdf;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #5744ff;
  letter-spacing: 0.3rem;
  transition: color 0.3s linear;
}

.navbar .navbar-brand:hover {
  color: #6b5bfa;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 1rem auto;
}
.sidebar > a {
  margin-left: auto;
}

.table td,
.table th {
  vertical-align: middle;
}

@media screen and (max-width: 480px) {
  /* navbar-links */
  .navbar .navbar-nav .nav-link {
    text-align: center;
  }
  /* display length of movies */
  .title-movies {
    font-size: 1.4rem;
  }
  /* sidebar */
  .list-group > .list-group-item {
    padding: 0.4rem;
  }

  .sidebar {
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0;
  }
  .sidebar > a {
    margin: 1rem 0 0;
    align-self: center;
  }
}

@media screen and (max-width: 720px) {
  /* .list-group > .list-group-item {
    padding: 0.2rem;
  } */
}
